<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dignissimos iusto aliquam, sit maxime magni enim ratione aliquid est minima commodi dolor ullam ea esse quibusdam nulla alias sint? Ex necessitatibus possimus quaerat ea est, commodi accusantium, at nihil consequuntur magnam atque quia laudantium earum mollitia molestiae dicta ab.</p>
    </div>
</div>